PirateAdventures/obj/
.git/
.idea/
.vs/
PirateAdventures/.config
PirateAdventures/bin/
PirateAdventures/obj/project.packagespec.json
PirateAdventures/.config/
PirateAdventures/Content/bin/
PirateAdventures/Content/obj/